@model TracNghiemOnline.Modell.Chuong_Hoc

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/LaoutShare.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Chuong_Hoc</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.MonHoc.TenMon)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MonHoc.TenMon)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TenChuong)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenChuong)
        </dd>

    </dl>
</div>
<p>
    <a href="@Url.Action("Edit", "Chuong_Hoc",new { id = Model.Ma_Chuong })" class="btn btn-xs btn-info">
        <span><i class="fas fa-edit"></i></span> Sửa
    </a> |
    <a href="@Url.Action("Index", "Chuong_Hoc")" class="btn btn-xs btn-info">
        <span><i class="fas fa-list"></i></span> Danh sách
    </a>
</p>
