@model TracNghiemOnline.Modell.Phong_Thi
@{
    ViewBag.Title = "ToChucThi";
    Layout = "~/Areas/Admin/Views/Shared/LaoutShare.cshtml";
}
@using TracNghiemOnline.Modell


<div class="modal" tabindex="-1" role="dialog" id="modalConfirm">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header header-title card-header-info btn-info">
                <h5 class="modal-title text-center">CHON LÝ DO HỦY</h5>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label>Lý do </label>
                    <textarea class="form-control" id="txtlydo" rows="5"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary btn-sm" id="btnSubmit">Xác nhận</button>
                <button type="button" class="btn btn-danger btn-sm" id="btnDong">Đóng</button>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12">
    <div class="card">
        <div class="card-header">
            <div class="d-flex align-items-center">
                <h4 class="card-title text-uppercase">PHÒNG THI @Model.TenPhong </h4>
            </div>
            <br />
            <div class="container-sm row">
                <div class="col">
                    <p>
                        <input id="Txtmaphong" hidden="hidden" value="@Model.MaPhong" />

                        Lớp HP: @Model.LopHocPhan.TenLop
                    </p>
                    <p>
                        Sĩ số: @Model.DS_SVThi.Count

                    <p>
                        Môn thi: @Model.Bo_De.MonHoc.TenMon
                    </p>

                </div>
                <div class="col">
                    <p>
                        <input id="TxtThoiGian" hidden="hidden" value="@ViewBag.GioThi " />
                        Thời gian thi: @Model.Bo_De.ThoiGianThi  Phút
                    </p>
                    <p>
                        Thời gian bắt đầu: @Model.ThoiGianMo.ToString()
                    </p>

                    <p id="thoigian"></p>
                </div>



            </div>


            <div class="card mb-4" id="frmDanhSach">
                <div class="card-header">

                    Danh sách sinh viên thi
                </div>
                <div class="card-body">
                     

                    <div class="row" id="frmthi">
                        @foreach (var item in Model.DS_SVThi)
                        {

                            <div class="col-sm-6 col-lg-3">

                                <div class="card p-3">
                                    <div class="d-flex align-items-center">

                                        <a href="/Admin/QuanLyThi/LichSuThi/@item.MaDeThi">
                                            <span class="stamp stamp-md btn-info mr-3">
                                                <i class="icon-user"></i>
                                            </span>
                                        </a>


                                        <div>
                                     
                                            <div class="d-flex">
                                                  <h5 class="mb-1"> <small>MSV: @item.Ma_SV </small></h5>
                                                  <div class="ml-lg-5">
                                                      @{ var de = new TracNghiemOnlineDB().De_Thi.Find(item.MaDeThi);
                                                          if (de.TrangThai == true)
                                                          {
                                                              <div class="custom-control custom-switch">
                                                                  <input type="checkbox" onclick="Close(this)" checked="checked" class="custom-control-input" id="@item.MaDeThi">
                                                                  <label class="custom-control-label" for="@item.MaDeThi"></label>
                                                              </div>
                                                          }
                                                          else
                                                          {
                                                              <div class="custom-control custom-switch">
                                                                  <input type="checkbox" onclick="Close(this)" class="custom-control-input" id="@item.MaDeThi">
                                                                  <label class="custom-control-label" for="@item.MaDeThi"></label>
                                                              </div>
                                                              }
                                                          }
                                                      </div>
                                                  
                                                

                                                
                                            </div>

                                            <h5 class="mb-1"><b> <small>Tên: @item.SinhVien.Ten</small></b></h5>
                                            <h5 class="mb-1"><b> <small>Trạng thái : @item.TrangThai</small></b></h5>
                                            @*<small class="text-center ml-auto"></small>*@
                                        </div>
                                    </div>
                                </div>
                            </div>

                        }

                    </div>
                </div>
            </div>



        </div>
    </div>
</div>


@section  Jsfooter{
    <script>
        var x;
        var made;
        var boleen;
        $(document).ready(function () {
            $('#frmGiamSat').hide();
            $('#btnDong').click(function () {
                clearInterval(x);
                $.ajax({
                    type: 'POST',
                    url: '/Admin/QuanLyThi/LoadPhongThi',
                    success: function (res) {
                        Loaddata(res);
                        load();
                    }

                });
                $('#modalConfirm').hide();
                $('#txtlydo').val("");

            });
            $.ajax({
                type: 'POST',
                url: '/Admin/QuanLyThi/LoadPhongThi',
                success: function (res) {
                  Loaddata(res);
                    load();
                }

            });

            $('#btnSubmit').click(function () {
                $('#modalConfirm').hide();
                clearInterval(x);
              
                $.ajax({
                    type: 'POST',
                    url: '/Admin/QuanLyThi/UpateTrangThai',
                    data: { s: true, dethi: made, lydo: $('#txtlydo').val() },
                    success: function (res) {

                        Loaddata(res);
                        load();
                        $('#txtlydo').val("");
                    }

                });

            });
            // Thiết lập thời gian đích mà ta sẽ đếm
            var tg = $('#TxtThoiGian').val();



            var countDownDate = new Date(tg).getTime();


            function Loaddata(res) {
                if (res.Status == true) {
                    $('#frmthi').empty();

                    $.each(res.data, function (k, v) {

                        var let = `<div class="col-sm-6 col-lg-3">
                            <div class="card p-3">
                                <div class="d-flex align-items-center">
                                   <a href="/Admin/QuanLyThi/LichSuThi/`+ v.MaDe + `">`;

                        if (v.TrangThai === 'Đã chuyển tab') {
                            let += `<span class="stamp stamp-md bg-danger mr-3">
                                <i class="icon-user"></i>
                            </span>`;
                        }
                        else {
                            let += `<span class="stamp stamp-md btn-info mr-3">
                                <i class="icon-user"></i>
                            </span>`;
                        }
                                       let+= `</a>
                                    <div>
                                   <div class="d-flex">
                                                <h5 class="mb-1"><b> <small>MSV: `+ v.MaSV + `</small></b></h5>
                                                  <div class="ml-lg-5">`;

                        if (v.TinhTrang == false) {
                            let+=` <div class="custom-control custom-switch">
                                                                  <input type="checkbox" onclick="Close(this)" class="custom-control-input" id="`+ v.MaDe+`">
                                                                  <label class="custom-control-label" for="`+ v.MaDe+`"></label>
                                                              </div>`
                        }
                        else {
                            let += ` <div class="custom-control custom-switch">
                                                                  <input type="checkbox" onclick="Close(this)" checked="checked" class="custom-control-input" id="`+ v.MaDe + `">
                                                                  <label class="custom-control-label" for="`+ v.MaDe + `"></label>
                                                              </div>`
                        }

                        let+=  `</div > </div>

                                        <h5 class="mb-1"><b> <small>Tên: `+ v.Ten+`</small></b></h5>
                                        <h5 class="mb-1"><b> <small>Trạng thái : `+ v.TrangThai+`</small></b></h5>
                                    </div>
                                </div>
                            </div>
                        </div>`

                        $('#frmthi').append(let);
                    });
                }
            }
            // cập nhập thời gian sau mỗi 1 giây



            var cou = 0;
            function load() {
                x = setInterval(function () {
                    cou++;
                    // Lấy thời gian hiện tại
                    $.ajax({
                        url: '/Admin/QuanLyThi/KiemTraPhongThi',
                        type: 'get',
                        success: function (res) {

                            Loaddata(res);

                        }



                    });
                    var now = new Date().getTime();

                    // Lấy số thời gian chênh lệch
                    var distance = countDownDate - now;

                    // Tính toán số ngày, giờ, phút, giây từ thời gian chênh lệch
                    var days = Math.floor(distance / (1000 * 60 * 60 * 24));
                    var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
                    var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
                    var seconds = Math.floor((distance % (1000 * 60)) / 1000);

                    // HIển thị chuỗi thời gian trong thẻ p
                    if (hours > 0) {
                        document.getElementById("thoigian").innerHTML = "Thời Gian Còn Lại: " + hours + " : "
                            + minutes + " : " + seconds + " Phút ";
                    }
                    else {
                        document.getElementById("thoigian").innerHTML = "Thời Gian Còn Lại: "
                            + minutes + " : " + seconds + " Phút ";
                    }

                    // Nếu thời gian kết thúc, hiển thị chuỗi thông báo
                    if (distance < 0) {
                        alert("Đã Hết Giờ Làm Bài")
                        window.location = "/Admin/QuanLyThi/KetQuaphongthi/" + $('#Txtmaphong').val();
                        clearInterval(x);
                    }
                    if (cou == 3) {
                        cou = 0;
                        clearInterval(x);
                        load();
                    }
                }, 1000);
            }
        });

        function Close(check) {

             boleen = check.checked

            made = check.id;
            if (boleen == false) {
                $('#modalConfirm').show();
            }
            else {
                clearInterval(x);
                $.ajax({
                    type: 'POST',
                    url: '/Admin/QuanLyThi/UpateTrangThai',
                    data: { s: false, dethi: made, lydo: $('#txtlydo').val() },
                    success: function (res) {
                        Loaddata(res);
                        load();
                    }

                });

            }
        }


    </script>
}
