@model List<TracNghiemOnline.Modell.Bo_De>
@{
    ViewBag.Title = "DSDETHI";
    Layout = "~/Areas/Admin/Views/Shared/LaoutShare.cshtml";
}


<div class="container-fluid">
   
    <div class="card mb-4 mt-2">
        <div class="card-header">
            <div class="row">
                <div class="col-10">
                    <div class="mt-3">

                        <i class="fas fa-table mr-1"> </i>
                        Danh Sách Đề Thi
                    </div>
                </div>
                <div class="col-2">
                    <div class="mt-3">
                        <a type="button" class="card-link btn-danger col"href="/Admin/Home/TaoDeThi" >
                            <i class="fas fa-table mr-1"> </i>
                            Tạo Thêm Đề
                        </a>

                    </div>
                </div>
            </div>
          
          
        </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Mã Đề </th>
                                <th>Nội Dung </th>
                                <th>Tên Môn Học</th>
                                <th>Số Câu</th>
                                <th>Thời Gian Thi</th>
                                <th>Tình Trạng</th>
                                <th>Người Tạo</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Mã Đề </th>
                                <th>Nội Dung </th>
                                <th>Tên Môn Học</th>
                                <th>Số Câu</th>
                                <th>Thời Gian Thi</th>
                                <th>Tình Trạng</th>
                                <th>Người Tạo</th>
                                <th></th>
                            </tr>
                        </tfoot>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td> @item.Ma_BoDe </td>
                                <td>  @item.NoiDung </td>
                                <td> @item.MonHoc.TenMon</td>
                                <td> @item.SoCau</td>
                                <td> @item.ThoiGianThi</td>
                                <td>  @item.TrangThai</td>
                                <td>  @item.GiaoVien.TenGV </td>
                                <td>  <a href="#">  Xem   </a> | <a href="#"> Sữa</a> |  <a href="#"> Xóa  </a>  </td>
                            </tr>

                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

