@model TracNghiemOnline.Modell.Bo_De
@{
    ViewBag.Title = "LoadDeThi";
    Layout = "~/Areas/Admin/Views/Shared/LaoutShare.cshtml";
    string mess = (string)ViewBag.Mess;
}

@section scripts{
    <script>

        function GuiDe(id) {

            $.ajax({
                url: "/Admin/Home/GuiboMon/" + id,
                type: 'Get',
                success: function (res) {
                    document.location = "/Admin/Home/BoMon";
                }


            });
        }
    </script>
}



<div class="card" style="margin:2rem">
    <table class="display table dataTable no-footer" role="grid" style="margin-left:2rem">
        <tbody>
            <tr role="row" class="odd">
                <td><p style="text-transform:uppercase; font-weight:700; margin-bottom:0">@ViewBag.TenDe</p><p style="margin-bottom:0">Môn thi: @ViewBag.MonThi</p><p>Thời gian: @ViewBag.ThoiGianThi phút</p></td>
            </tr>
        </tbody>
    </table>
    <div class="card mb-4">
        @{
            int i = 0;
            foreach (var item in Model.CauHois)
            {
                <div style="margin-left: 3rem; margin-right: 3rem">
                    <div class="form-group">
                        <h5 style="font-weight:700"> Câu @(i=i+1):  @Html.Raw(@item.Kho_CauHoi.NoiDung) </h5>

                        @{
                            try
                            {
                                if (item.Kho_CauHoi.HinhAnh.Length > 0)
                                {
                                    <div class="card-body ">
                                        <img class="img-circle center-block" style="margin-left:140px" src="@item.Kho_CauHoi.HinhAnh"
                                             alt="anh viet nam anh 1 " width="450" />
                                    </div>

                                }

                            }
                            catch { }

                        }


                    </div>
                    @foreach (var item1 in item.Kho_CauHoi.Dap_AN)
                    {
                        <div>
                            @{ try
                                {
                                    if (item1.HinhAnh.Length > 0)
                                    {
                                        <img class="img-circle center-block" style="margin-left:80px" src="@item1.HinhAnh"
                                             alt="anh viet nam anh 1 " width="350" />

                                    }
                                }
                                catch { }
                            }


                            <div class="custom-control custom-radio row">

                                @if (item1.TrangThai == true)
                                {
                                    <label class="custom-control-inline text-danger" style="color: orangered; font-weight: 500  " for="@item1.MA_DAN">
                                        @Html.Raw(@item1.NoiDung)
                                    </label>
                                }
                                else
                                {
                                    <label class="custom-control-inline" style="font-weight:500" for="@item1.MA_DAN">
                                        @Html.Raw(@item1.NoiDung)
                                    </label>
                                }

                            </div>
                        </div>
                    }
                </div>

            }
            if (Model.CauHois.Count > 0)
            {
                try
                {
                    if (mess.Length == 0)
                    {
                        <div class="card-body" style="margin-left:40%">
                            <a id="txtThem" class=" btn btn-danger" href="/Admin/Home/AddChapterStudy"> Tạo Đề </a>
                        </div>

                    }
                    else
                    {
                        try
                        {
                            long id = (long)Session["mads"];
                            if (id > 0)
                            {
                                <div class="card-body">
                                    <a class=" btn btn-danger " href="/Admin/Home/ChonDe1/@id"> Quay Lại </a>
                                    <button id="@mess" class=" btn btn-primary" onclick="GuiDe(id)"> Gửi Bộ Môn </button>
                                    <a class=" btn btn-success" href="@ViewBag.linkpdf" download=""> Xuất PDF </a>
                                </div>
                            }
                            else
                            {
                                <div class="card-body">
                                    <a class=" btn btn-danger " href="/Admin/Home/DSDETHI"> Quay Lại </a>

                                    <a class=" btn btn-success" href="@ViewBag.linkpdf" download=""> Xuất PDF </a>
                                </div>
                            }


                        }
                        catch
                        {

                        }




                    }


                }
                catch
                {
                    <div class="card-body" style="margin-left:40%">
                        <a id="txtThem" class=" btn btn-danger" href="/Admin/Home/AddChapterStudy"> Tạo Đề </a>
                    </div>

                }


            }

        }
    </div>


</div>




