@model List<TracNghiemOnline.Modell.Kho_CauHoi>
@{
    ViewBag.Title = "LoalFile";
    Layout = "~/Areas/Admin/Views/Shared/LaoutShare.cshtml";
}

<h2>CreateCauHoi</h2>

<div class="card">
    <div class="card mb-4">

        @foreach (var item in Model)
        {

            <div class="card-body">
                <form>
                    <div class="form-group">
                        <h5 style="width:710px;"> @item.NoiDung </h5>


                        <div class="card-body ">
                            <img class="img-circle center-block" style="margin-left:140px" src="@item.HinhAnh"
                                 alt="anh viet nam anh 1 " width="400px" height="400px" />
                        </div>


                    </div>
                    @foreach (var item1 in item.Dap_AN)
                    {
                        <div class="form-group">

                            <img class="img-circle center-block" style="margin-left:80px" src="@item.HinhAnh"
                                 alt="anh viet nam anh 1 " width="150px" />


                            <div class="custom-control custom-radio">
                                <input class="custom-control-inline" id="@item1.MA_DAN" name="@item.Ma_CauHoi" type="radio" onclick="changeText(this.id)" />
                                <label class="custom-control-inline" style="width:700px" for="@item1.MA_DAN">

                                    @item1.NoiDung
                                </label>

                            </div>
                        </div>
                    }

                </form>
            </div>


        }

    </div>


</div>



