

@model TracNghiemOnline.Model.DanhGia
@{
    ViewBag.Title = "Diemthi";
    Layout = "~/Views/Share/LayOutHome.cshtml";
}
@using TracNghiemOnline.Modell;



<div class="container-fluid card-body">

    <div class="col-10 border-1" style="margin-left:10%">
        <div class=" card-body py-7">
            <div class="card-body">
                <div class="card mb-4 text-center">
                    <div class="card-header">
                        <span class="text-xxl-twitter">
                            Kết quả

                            @(
          new TracNghiemOnlineDB().DS_SVThi.Where(x=>x.MaDeThi==Model.ketQuaThi.Ma_DeThi).ToList().Last().Phong_Thi.TenPhong
    )
                        </span>
                        <br />
                        @(
          new TracNghiemOnlineDB().DS_SVThi.Where(x=>x.MaDeThi==Model.ketQuaThi.Ma_DeThi).ToList().Last().Phong_Thi.LopHocPhan.KiThi.TenKi
    )
                    </div>
                </div>
                <div class="card">
                    <div class="row text-center">
                        <h2 class="text-info">Môn Thi : @(new TracNghiemOnlineDB().DS_SVThi.Where(x=>x.MaDeThi==Model.ketQuaThi.Ma_DeThi).ToList().Last().Phong_Thi.Bo_De.MonHoc.TenMon)</h2>
                    </div>
                    <div class="row text-center">
                        <h3 class="text-xxl-800 text-success">Điểm : @Model.ketQuaThi.DiemSo</h3>

                    </div>


                    <div class="row text-center">
                        <div class="col">
                            <div class="card-body">
                                Mã học viên  : @Model.ketQuaThi.De_Thi.Ma_SV
                            </div>

                        </div>
                        <div class="col">

                            @*@Model.ketQuaThi.De_Thi Điểm*@


                            <div class="card-body">
                                Tên học viên  : @Model.ketQuaThi.De_Thi.SinhVien.Ten
                            </div>
                        </div>
                        <div class="col">

                            @*@Model.ketQuaThi.De_Thi Điểm*@


                            <div class="card-body">
                                Lớp : @Model.ketQuaThi.De_Thi.SinhVien.Lop.TenLop
                            </div>
                        </div>
                    </div>
                    <div class="row text-center">
                        <div class="col">
                            <div class="card-body"> Tổng số câu  :     @Model.ketQuaThi.De_Thi.CauHoiDeThis.Count  Câu </div>
                        </div>
                        <div class="col">
                            <div class="card-body"> Số câu trả lời :   @(Model.ketQuaThi.SoCauDung + Model.ketQuaThi.SoCauSai) Câu </div>
                        </div>
                        <div class="col">
                            <div class="card-body"> Số Câu Đúng :    @Model.ketQuaThi.SoCauDung  Câu </div>
                        </div>
                        <div class="col">
                            <div class="card-body"> Số Câu Sai :    @Model.ketQuaThi.SoCauSai Câu </div>
                        </div>
                    </div>


                    <div class="card-body">
                        <button type="button" id="btnthongke" class=" btn badge-primary navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            Xem Thông Kê
                        </button>


                        <button type="button" id="bntnhanxet" class=" btn badge-primary navbar-toggle" data-toggle="collapse" data-target="#XemDanhgia">
                            Nhận Xét
                        </button>


                    </div>

                    <div class="collapse navbar-collapse" id="myNavbar">
                        <div class="card-body ">
                            <ul class="nav navbar-nav navbar-right">
                                <div class="navbar-header">
                                    <span class=" navbar-toggle" id="bntmucdo" data-toggle="collapse" data-target="#myNavbar1">
                                        Theo mức độ
                                    </span>
                                </div>
                                <div class="container-fluid">
                                    <div class="collapse navbar-collapse" id="myNavbar1">
                                        <div class="card-body ">
                                            <ul class="navbar-nav navbar-right">

                                                <table border="1" style="text-align:center">
                                                    <tr class="badge-primary">
                                                        <th rowspan="2">Tên Chương</th>
                                                        <th colspan="4">Sô Câu Đúng</th>
                                                        <th rowspan="2">Tổng Sô Câu</th>
                                                    </tr>
                                                    <tr class="badge-primary">
                                                        <th>Nhận Biết</th>
                                                        <th>Thông Hiệu</th>
                                                        <th>Vận Dụng</th>
                                                        <th>Vận Dụng Cao</th>
                                                    </tr>
                                                    @foreach (var item in Model.DanhGiaMucDo)
                                                    {
                                                        <tr>
                                                            <td> @item.Chuong.TenChuong </td>
                                                            <td>@item.nhanBiet</td>
                                                            <td>@item.thongHieu</td>
                                                            <td>@item.vandung</td>
                                                            <td>@item.vandungcao</td>
                                                            <td>

                                                                @item.TongSoCau
                                                            </td>


                                                        </tr>
                                                    }


                                                </table>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="navbar-header">
                                    <span class=" navbar-toggle" id="bntnoidung" data-toggle="collapse" data-target="#myNavbar2">
                                        Theo nôi dung
                                    </span>
                                </div>
                                <div class="container-fluid">
                                    <div class="collapse navbar-collapse" id="myNavbar2">
                                        <div class="card-body ">
                                            <ul class="navbar-nav navbar-right">
                                                @foreach (var item in Model.DanhGiaMucDo)
                                                {
                                                    <ul> @item.TongSoCau  @item.Chuong.TenChuong </ul>
                                                }


                                            </ul>
                                        </div>
                                    </div>
                                </div>

                            </ul>
                        </div>
                    </div>

                    @*.................. ...............*@
                    <div class="collapse navbar-collapse" id="XemDanhgia">
                        <div class="card-body ">
                            <ul class="nav navbar-nav navbar-right">
                                <div class="card-body ">
                                    <ul class="navbar-nav navbar-right">
                                        <table border="1" style="text-align:center">
                                            <tr class="badge-primary">
                                                <th>Tên Chương</th>
                                                <th rowspan="1"> Đánh Gía</th>
                                                <th>Nhận Xét</th>
                                            </tr>

                                            @{ foreach (var item in Model.ketQuaThi.De_Thi.Danh_Gia)
                                                {
                                                    <tr>
                                                        <td>@item.Chuong_Hoc.TenChuong</td>
                                                        <td>@item.DanhGia</td>
                                                        <td>

                                                            - @item.NhanXet;


                                                        </td>
                                                    </tr>

                                                } }



                                        </table>
                                    </ul>
                                </div>



                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </div>



    </div>

</div>


<script src="https://cdn.datatables.net/1.10.20/js/dataTables.bootstrap4.min.js" crossorigin="anonymous"></script>

<script>

    $('#XemDanhgia').show();
    $('#bntmucdo').click(function () {
        $('#myNavbar1').show();
        $('#XemDanhgia').hide();
        $('#myNavbar2').hide();

    });
    $('#bntnoidung').click(function () {
        $('#myNavbar1').hide();
        $('#XemDanhgia').hide();
        $('#myNavbar2').show();



    });

    $('#bntbaithi').click(function () {
        $('#myNavbar1').hide();
        $('#myNavbar2').hide();
        $('#XemDanhgia').hide();



    });

    $('#bntnhanxet').click(function () {
        $('#myNavbar1').hide();

        $('#myNavbar2').hide();
        $('#XemDanhgia').show();
        $('#Xembaithi').hide();


    });


</script>



