@model List<TracNghiemOnline.Modell.Phong_Thi>
@{
    ViewBag.Title = "DSDETHI";
    Layout = "~/Views/Share/LayOutHome.cshtml";
    var session = (TaiKhoan)Session[ComMonStants.UserLogin];


}
@using TracNghiemOnline.Modell.Dao;
@using TracNghiemOnline.Model;
@using TracNghiemOnline.Modell;
@using TracNghiemOnline.ComMon;

<div class="container py-8">
    <div class="card mb-4">
        <div class="card-body">

            <table class="table table-bordered" id="example" width="100%" cellspacing="0" style="font-family:Arial">
                <thead>
                    <tr>
                        <th> Phòng  </th>
                        <th>Mã Đề</th>
                        <th> Môn thi </th>
                        <th>Thời gian thi </th>

                        <th> Điểm </th>
                        <th> Ngày Thi </th>
                        <th> </th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model.OrderByDescending(x => x.ThoiGianMo))
                    {
                        if (new TracNghiemOnlineDB().DS_SVThi.Where(x => x.MaPhong.Equals(item.MaPhong) && x.Ma_SV.Equals(session.TaiKhoan1)).ToList().Count > 0)
                        {
                            foreach (var item1 in new TracNghiemOnlineDB().DS_SVThi.Where(x => x.MaPhong.Equals(item.MaPhong) && x.Ma_SV.Equals(session.TaiKhoan1)).ToList())
                            {
                                var exam = new QuanLyThiDAO().SearDethi(item1.MaDeThi);
                                var dethi = new QuanLyThiDAO().Mark(exam);

                    <tr>
                        <td>  @item.TenPhong  </td>
                        <td> @dethi.ketQuaThi.Ma_DeThi </td>
                        <td>  @item.LopHocPhan.MonHoc.TenMon  </td>
                        <td>  @item.Bo_De.ThoiGianThi Phút </td>
                        <td>  @dethi.ketQuaThi.DiemSo </td>
                        <td>  @item.ThoiGianMo.Value.Day/ @item.ThoiGianMo.Value.Month/ @item.ThoiGianMo.Value.Year </td>
                        <td> <a href="/Diemthi/@item1.MaDeThi" class="btn btn-info" style="padding: 1px 10px; color: #fff">Xem</a></td>
                    </tr>
                            }

                        }

                    }
                </tbody>

            </table>

        </div>

    </div>
</div>
