
@{
    //Layout = null;
    TracNghiemOnline.Modell.De_Thi Dethi = (TracNghiemOnline.Modell.De_Thi)ViewBag.DeThi;
    ViewBag.Title = "Index";
    Layout = "~/Views/Share/layoutBaithi.cshtml";

}
<div class="wrapper ">
    <div class="sidebar" data-image="../assets/img/sidebar-3.jpg">
        <!--
            Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

            Tip 2: you can also add an image using data-image tag
        -->
        <div class="logo">
            <a href="#" class="simple-text logo-normal">
                Trắc Nghiệm Online
            </a>
        </div>
        <div class="sidebar-wrapper">
            <div class="card ">
                <img src="https://i.ytimg.com/vi/Lom1Xn8Mw-8/mqdefault.jpg" class="rounded" alt="Responsive image" />

            </div>
            <div class="col-12">
                <div class="card col-md-12" style="margin-top:3%">
                    <input id="TxtThoiGian" hidden="hidden" value="@ViewBag.GioThi" />
                    <input id="TxtMaDe" hidden value="@Dethi.MaDeThi" />


                    <div class="card-title">
                        <h4 class="card-title text-info text-center">Thông Tin Sinh Viên</h4>
                    </div>
                    <div class="status card-body  small bottom-50">
                        <label class="bmd-label-floating row"> MaSV :   @Dethi.SinhVien.MaSV</label>
                        <label class="bmd-label-floating row">Tên : @Dethi.SinhVien.Ten</label>
                        <label class="bmd-label-floating row">Ngày Sinh : @Dethi.SinhVien.NgaySinh.Value.Day/@Dethi.SinhVien.NgaySinh.Value.Month/@Dethi.SinhVien.NgaySinh.Value.Year </label>
                        <label class="bmd-label-floating row"> Lớp :   @Dethi.SinhVien.Lop.TenLop</label>
                        <label class="bmd-label-floating row">   Môn Thi : @Dethi.Bo_De.MonHoc.TenMon</label>
                        <label class="bmd-label-floating row">  <span id="demo">Đồng Hồ</span></label>
                    </div>

                </div>

            </div>



        </div>
    </div>
    <div class="main-panel">

        <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
            <div class="container-fluid">
                <div class="navbar-wrapper">
                    <ul class="nav navbar-nav navbar-right">
                        <li>



                        </li>

                    </ul>

                </div>
                <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="navbar-toggler-icon icon-bar"></span>
                    <span class="navbar-toggler-icon icon-bar"></span>
                    <span class="navbar-toggler-icon icon-bar"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end">


                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            @*<a class="nav-link" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    <i class="material-icons">notifications</i>
                                    <span class="notification">5</span>
                                    <p class="d-lg-none d-md-block">
                                        Some Actions
                                    </p>
                                </a>*@
                            @*<div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="#">Mike John responded to your email</a>
                                    <a class="dropdown-item" href="#">You have 5 new tasks</a>
                                    <a class="dropdown-item" href="#">You're now friend with Andrew</a>
                                    <a class="dropdown-item" href="#">Another Notification</a>
                                    <a class="dropdown-item" href="#">Another One</a>
                                </div>*@
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link" href="javascript:;" id="navbarDropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="material-icons">person</i>
                                <p class="d-lg-none d-md-block">
                                    Account
                                </p>
                            </a>


                            <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile">
                                <a class="dropdown-item" href="/Account/GioiThieu">Giới thiệu phần mềm</a>


                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/Account/Login">Đăng Xuất</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="content">
            <div class="container-fluid">
                <div class="container-fluid" style="margin-top:-5%">
                    <div class=" row card" style="width:102%">

                        <input id="TxtThoiGian" value="@ViewBag.GioThi" hidden />
                        <div class=" right card-header card-header-primary text-center" style=" left:33%; width:400px;">
                            <h4 class="card-title">Bài Thi</h4>
                        </div>

                        <div class="col-9">
                            @{
                                int dem = 0;
                                foreach (var item in Dethi.CauHoiDeThis)
                                {


                                    dem++;
                                    <h4 class=" card-body chon" id="@item.Kho_CauHoi.Ma_CauHoi">Câu @dem )@Html.Raw(@item.Kho_CauHoi.NoiDung) </h4>
                                    try
                                    {
                                        if (item.Kho_CauHoi.HinhAnh.Length > 0)
                                        {
                                            <div class="row card-header" style="margin-top:0px;margin-left:10%;margin-top:-30px">
                                                <img src="@item.Kho_CauHoi.HinhAnh" width="400">
                                            </div>}
                                    }
                                    catch { }


                                    foreach (var item1 in item.Kho_CauHoi.Dap_AN)
                                    {
                                        if (item1.TrangThai == false)
                                        {
                                            <div class="row card-header" style="margin-top:0px;margin-left:3%" ;>
                                                <label class="form-check-label" for="@item1.MA_DAN">
                                                    <input class="form-check-input txtch" onclick="changeText(this)" type="radio" value="@item.Kho_CauHoi.Ma_CauHoi" name="@item.Kho_CauHoi.Ma_CauHoi" id="@item1.MA_DAN">
                                                    @Html.Raw(@item1.NoiDung)
                                                </label>
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="row card-header " style="margin-top:0px;margin-left:3%" ;>
                                                <label class="form-check-label" id="@item1.MA_DAN" for="@item1.MA_DAN">
                                                    <input class="form-check-input txtch" type="radio" onclick="changeText(this)" value="@item.Kho_CauHoi.Ma_CauHoi" checked name="@item.Kho_CauHoi.Ma_CauHoi" id="@item1.MA_DAN">
                                                    @Html.Raw(@item1.NoiDung)
                                                </label>
                                            </div>

                                        }
                                        try
                                        {

                                            if (item1.HinhAnh.Length > 0)
                                            {
                                                <div class="row card-header " style="margin-top:0px;margin-left:6%" ;>
                                                    <img src="@item1.HinhAnh" width="300">
                                                </div>}
                                        }
                                        catch { }


                                    }


                                }
                            }
                        </div>
                        <div id="DongHo" class="col-2">
                            <div class="card" style="border-color:#000000">
                                <div class=" card-header-info">
                                    <h5 class="card-title text-center">Danh sách câu hỏi  </h5>
                                </div>
                                <div class="card-header">
                                    <div class="stats">
                                        <label id="thoigian"></label>
                                    </div>
                                    <div class="stats">
                                        <label class="small">Số câu @Dethi.CauHoiDeThis.Count câu </label>
                                    </div>
                                    <div class="stats">

                                        @{
                                            int cout = 1;
                                            foreach (var item in Dethi.CauHoiDeThis)
                                            {
                                                if (item.Kho_CauHoi.Dap_AN.ToList().Exists(x => x.TrangThai == true))
                                                {
                                                    <a name="chon" href="#@item.Kho_CauHoi.Ma_CauHoi" id="@item.Kho_CauHoi.Ma_CauHoi" class="btn btn-success btnchon" style=" margin-bottom:3px; border-radius:30% ;padding:2px;width:30px;height:30px"> @cout</a>

                                                }
                                                else
                                                {
                                                    <a name="chon" href="#@item.Kho_CauHoi.Ma_CauHoi" id="@item.Kho_CauHoi.Ma_CauHoi" class="btn btn-outline-secondary btnchon" style=" margin-bottom:3px; border-radius:30% ;padding:2px;width:30px;height:30px"> @cout</a>
                                                }

                                                cout++;
                                            }
                                        }
                                    </div>


                                </div>
                                <div class=" card-header-text text-center">
                                    <button class="btn btn-facebook " id="bntNopBai"> Nộp Bài</button>
                                </div>
                            </div>


                        </div>


                    </div>

                </div>

            </div>

        </div>
    </div>

</div>
@section scripts{

    <script src="~/assets/js/plugin/perfect-scrollbar.jquery.min.js"></script>
    <script src="~/assets/js/material-dashboard.js"></script>
    <script>

        var madethi = $('#TxtMaDe').val();
        $(document).ready(function () {
            $.ajax({
                type: 'post',
                url: '/TrangChu/KiemTraDe',
                data: { madethi: madethi.trim() },
                success: function (KetQua) {
                    if (KetQua.status == false) {
                        window.location = "/PhongThi";
                        clearInterval(x);
                    }

                }
            });


        });
        $(document).on('click', "button[name ='chon']", function () {
            var ma = this.id;
            var roll = $('.chon');
            for (var i = 0; i < roll.length; i++) {
                if (roll[i].id == ma) {
                    roll[i].click();

                }
            }

        });
        var listch = [];
        function changeText(button) {
            var mach = $(button).val();

            var buton = $('.btnchon');
            var checkbox = $('.txtch');
            for (var i = 0; i < checkbox.length; i++) {
                if (checkbox[i].checked == true) {
                    listch.push({
                        Ma_Dan: checkbox[i].id,
                        Ma_De: 1,
                    });
                }

            }
            $.each(buton, function (k, v) {

                if (v.id == mach) {
                    $(v).removeClass('btn-outline-secondary');
                    $(v).addClass('btn-success');

                }
            })

            $.ajax({
                type: 'GET',
                url: '/TrangChu/LuaChon/' + button.id,
                data: { madethi },
                success: function (KetQua) {
                }
            });

        };

        $('#bntNopBai').click(function () {
            var buton = $('.btnchon');
            listch = [];
            var checkbox = $('.txtch');
            for (var i = 0; i < checkbox.length; i++) {
                if (checkbox[i].checked == true) {
                    listch.push({
                        Ma_Dan: checkbox[i].id,
                        Ma_De: 1,
                    });
                }
            }
            if (listch.length == buton.length) {
                window.location = "/DiemSo/" + madethi;
            }
            else {
                alert("vui lòng làm hết câu hỏi");
            }



        });

        // Thiết lập thời gian đích mà ta sẽ đếm
        var tg = $('#TxtThoiGian').val();
        var countDownDate = new Date(tg).getTime();
        // cập nhập thời gian sau mỗi 1 giây

        var x = setInterval(function () {
            // Lấy thời gian hiện tại


            var now = new Date().getTime();

            // Lấy số thời gian chênh lệch
            var distance = countDownDate - now;

            // Tính toán số ngày, giờ, phút, giây từ thời gian chênh lệch
            var days = Math.floor(distance / (1000 * 60 * 60 * 24));
            var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
            var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
            var seconds = Math.floor((distance % (1000 * 60)) / 1000);

            // HIển thị chuỗi thời gian trong thẻ p
            if (hours > 0) {
                document.getElementById("demo").innerHTML = "Thời Gian Còn Lại  " + hours + " : "
                    + minutes + " : " + seconds + " Phút ";
            }
            else {
                document.getElementById("demo").innerHTML = "Thời Gian Còn Lại  "
                    + minutes + " : " + seconds + " giây ";
            }

            // Nếu thời gian kết thúc, hiển thị chuỗi thông báo
            if (distance < 0) {
                alert("Đã Hết Giờ Làm Bài")
                window.location = "/DiemSo/" + madethi;
                clearInterval(x);
            }
        }, 1000);


    </script>

}




